
ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5%;
    transform: scale(1.1);
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 250px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;
    
}
.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 10px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  td:nth-child(1) {  
    font-weight: 700;
    width: 40%;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

div#compare {
    position: absolute;
    display: none;
    width: 50vw;
    max-width: 800px;
    min-width: 400px;
    /* height: 80vh;
    max-height: 750px;
    min-height: 350px;*/
    background: #fff; 
    top: calc(100vh - 80%);
    left: 25vw;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    border: #1b357e 4px solid;
    /* transform: scale(75%); */
}

@media (max-width: 1024px) {
    div#compare {
        height: 200vh;
         max-height: 600px;
        min-height: 200px;
        /* left: 0vw;
        transform: scale(75%); */
}
}


@media (max-width: 900px) {
    div#compare {
        height: 200vh;
         max-height: 610px;
        min-height: 200px;
        left: 0vw;
        transform: scale(75%);
}
}

@media (max-width: 889px) {
    div#compare {
        height: 200vh;
     max-height: 620px;
        min-height: 300px;
        left: 0vw;
        transform: scale(75%);
}
}

@media (max-width: 854px) {
    div#compare {
        height: 200vh;
     max-height: 640px;
        min-height: 300px;
        left: 0vw;
        transform: scale(75%);
}
}

#info__img{
    transform: scale(1.3);
}
#info__img:hover{
    cursor: pointer;
}
/*  popup de info */
.car-popup-info {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.car-info-img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.car-info-table {
    width: 100%;
    border-collapse: collapse;
}

.car-info-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.car-info-table tr:last-child td {
    border-bottom: none;
}